@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --color-primary-yellow: #f5e311;
}

// Mixins
@mixin for-tablet-up {
  @media (min-width: 641px) {
    @content;
  }
}

@mixin for-laptop-up {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1921px) {
    @content;
  }
}

html {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f6f5e5;
  font-size: 100%/1rem;

  ::selection {
    background: #00000080;
  }
  ::-moz-selection {
    background: #00000080;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    font-style: normal;
    color: #151617;
    font-size: 2.4rem;
    b {
      font-weight: 600;
    }
  }
}

h1 {
  font-size: 1.8rem;
  @include for-tablet-up {
    font-size: 3rem;
  }
}
h2 {
  font-size: 1.4rem;
  @include for-tablet-up {
    font-size: 2.6rem;
  }
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

p,
a,
ul,
ol,
li {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@layer base {
  p,
  a,
  ul,
  ol,
  li {
    font-style: normal;
    font-size: 1rem;
    color: #444546;
    font-weight: 400;
    b {
      font-weight: 500;
    }
    i {
      font-style: italic;
    }
    @include for-tablet-up {
      font-size: 1.2rem;
    }
  }
}

a,
.link {
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.2em;
}

// Layouts
.default-margin {
  max-width: 1400px;
  @apply w-full mx-auto px-4 md:px-12;
}

.default-height {
  min-height: 90vh;
}

// Custom Styles
